:root {
  --gradient: linear-gradient(
    45deg,
    #70d1bb,
    #54aed4,
    #4265b8,
    #523ca1,
    #7e348f,
    #5f2a58
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
